<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>병해충 상세 정보</title>
    <link rel="stylesheet" href="/static/css/deulmaru_const.css">
</head>
<body>

    <header th:replace="layout/header :: header"></header>

    <div class="sick-detail-container">
        <h2 th:text="${sickNameKor}"></h2>
        <p><strong>병해충 설명:</strong> <span th:text="${symptoms}"></span></p>
        <p><strong>방제 방법:</strong> <span th:text="${preventionMethod}"></span></p>

        <div class="sick-images">
            <img th:each="image : ${imageList}" th:src="${image}" alt="병해충 이미지" width="150">
        </div>
    </div>

    <a href="/disease/search">← 검색으로 돌아가기</a>

</body>
</html>
