@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&family=Sunflower:wght@700&display=swap');
@font-face {
    font-family: '클로버체';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 기본 스타일 */
.body {
    font-family: "Noto Sans KR", sans-serif;
}

/* 네비게이션 바 */
.navbar {
    background-color: #fff;

}

.navbar-brand {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #497c60;
}

.navbar-nav .nav-link {
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #3e3e3e;
    font-size: 15px;
}



/* ✅ 메뉴 선택 바 (네비게이션 바 아래) */
.menu-bar {
    background-color: #fff; /* 네비게이션 바와 같은 배경색 */
    padding: 17px 0;
    text-align: center;
    border-bottom: 2px solid #eaeaea; /* 구분선 추가 */
    border-top: 1px solid #eaeaea;
}

.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    gap: 40px; /* 메뉴 간격 */
}

.menu-list li {
    display: inline-block;
}

.menu-list a {
    text-decoration: none;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #1a1a1a;
    padding: 10px 15px;
    transition: all 0.2s ease-in-out;
}

.menu-list a:hover {
    color: #3e3e3e;
    font-size: 16px;
}


